@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");


@font-face {
    src: url('/static/fonts/trebuchet.ttf') format('truetype'),
}

body {
  font-family: "Lato", sans-serif;
  background-color:#94BBE3;
  color:white;
}

.left {
  float: left;
}

#projectinfo {
position: relative;
float: left;
width: 300px;
height: 600px;
margin-left:50px;
}

iframe {
  height:600px;
  width:400px;
  margin-left:-100px;
border:none;
border:0px;
}

#comments {
  float:right;
}

#alltasks {
background-color:#4BA5B4;
color:white;
float:left;
width:500px;
padding-bottom:50px;
padding-left:30px;
margin-left:30px;
font-family: "Roboto", sans-serif;
}

#alltasks li {
  list-style-type: none;
}

#desc {
color:gray;
}

button, .button {
background-color: #1abc9c;
border:none;
}
button:hover, button:focus, .button:hover, .button:focus {
background-color: #48c9b0;
border:none;
}
button:active, .button:active {
background-color: #16a085;
border:none;
}
