@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");


@font-face {
    src: url('/static/fonts/trebuchet.ttf') format('truetype'),
}

body {
  font-family: "Lato", sans-serif;
  background-color:#94BBE3;
  color:white;
}

#projectinfo {
  float: left;
  width: 25%;
margin-left:50px;
display:inline-block;
}

iframe {
  height:600px;
  border:none;
  border:0px;
}

#comments {
  width: 33%;
  float: right;
  display: inline-block;
}

#alltasks {
background-color:#4BA5B4;
color:white;
width: 25%;
padding-bottom:50px;
padding-left:30px;
margin-left:30px;
font-family: "Roboto", sans-serif;
display: inline-block;
}

#alltasks li {
  list-style-type: none;
}

#desc {
color:gray;
}

button, .button {
background-color: #1abc9c;
border:none;
width:150px;
height:35px;
border-radius: 8px;
color: white;
font-size: 17px;
}
button:hover, button:focus, .button:hover, .button:focus {
background-color: #48c9b0;
border:none;
}
button:active, .button:active {
background-color: #16a085;
border:none;
}
