@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

@font-face {
    font-family: 'entypo';
    src: url('/static/fonts/entypo/entypo.eot');
    src: url('/static/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/entypo/entypo.woff') format('woff'),
         url('/static/fonts/entypo/entypo.ttf') format('truetype'),
         url('/static/fonts/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

#notifications{
    float: right;
    border-style: solid;
    border-width: 5px;
    
}

#left {
    border-style: solid;
    border-width: 5px;
   
}


#create-project {
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #3D59AB;
    font-family: Verdana, sans-serif;
    display: block;
}

#create-project:hover {
    background-color:yellow;
}

#notifications ul li {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

#left ul li {
    list-style-type: none;
    margin-bottom: 10px;
    padding 0;
}

#left ul li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#projects {
    border-style: solid;
    border-width: 5px;
    width: 600px;
}
